<!DOCTYPE html>
<html lang="ja">
<head>
        <%- include('./layouts/header.ejs',{title_content:'Index'}); %>
        <link rel="stylesheet" type="text/css" href="/css/index.css?ver=<%= new Date().getTime().toString() %>">
</head>
<body>

<!--- <div id="main">
    <div id="game">
        <div id="question-field">
            <div id="question-kanji"></div>
            <div id="question-text"></div>
            <div id="question-roma"></div>
        </div>

        <button id="d-btn" class="btn btn-primary" style="position:fixed;bottom:20px;right:20px;">D</button>
    </div>

</div> --> <!-- main -->

<canvas id="canvas-2d" width="1920" height="1080"></canvas>
<div id="comment-post">
    <input id="submit-input" type="text" class="form-control" maxlength="100" placeholder="chat">
    <button class="btn btn-dark" id="submit-btn">GO</button>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js" type="module"></script>
</body>
</html>
