<!DOCTYPE html>
<html lang="ja">
<head>
        <%- include('./layouts/header.ejs',{title_content:'Index'}); %>
        <link rel="stylesheet" type="text/css" href="/css/index.css?ver=<%= new Date().getTime().toString() %>">
</head>
<body>

<div id="main">
    <div id="game">
        <div id="question-field"></div>

        <button id="d-btn" class="btn btn-primary" style="position:fixed;bottom:20px;right:20px;">D</button>
    </div>

</div> <!-- main -->

<audio id="btnsound" preload="auto">
    <source src="/os1.wav" type="audio/wav">
</audio>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js" type="module"></script>
</body>
</html>
